@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


:root {
    --background-color: #000;
    --text-color: #abb2bf;
}

#root>div>div>div>main>div>div>h1>span {
    font-family: 'Oswald', sans-serif !important;
    color: #FFFAFF;
    font-weight: bold;
}

.dashboard-body {
    background-color: #323232 !important;
    color: #FFFAFF !important;
}

/* Card Containers */
html .hedtech-spacing-standard {
    background-color: #444444 !important;
    color: #FFFAFF !important;
}

/* ADVANCED SEARCH BUTTON */
#root>div>div>div>main>div>div:nth-child(2)>div>div>div>div>p>button>span {
    color: #8AB4F8;
}

/* ADVANCED SEARCH BUTTON HOVER*/
#root>div>div>div>main>div>div:nth-child(2)>div>div>div>div>p>button>span:hover {
    color: #2871e8;
}


#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div:nth-child(2)>svg>text {
    fill: #FFFAFF !important;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div:nth-child(3)>svg>text {
    fill: #FFFAFF !important;
}

what-if>span>span,
#academic>span>span,
#financialAid>span>span,
#athleticEligibility>span>span,
#what-if>span>span {
    color: #FFFAFF !important;
}

/* Card body(1) - Athletics */
#root>div>div>div>main>div>div>div>div>div>div>div.hedtech-spacing-responsive.hedtech-container-spacing.hedtech-spacing-standard>div {
    background-color: #444444 !important;
    color: #FFFAFF !important;
}

/* ALL CARD BODIES */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div {
    background-color: #444444 !important;
    color: #FFFAFF !important;
}

/* Card body text elements (1st block) */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(2)>table>tbody>tr:nth-child(n)>th>div>div>p {
    color: #FFFAFF !important;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div {
    color: #FFFAFF !important;
}

/* STILL NEEDED TEXT FIRST BLOCK */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>p {
    color: #FFFAFF !important;
}

/* #root > div > div > div > main > div > div > div > div > div > div > div:nth-child(n+4) > div > div > div > div > div > div > div > div > div:nth-child(n) > table > tbody > tr:nth-child(n) > th > div > div > svg {
    background-color: #FFFAFF !important;
    border-radius: 50% !important;
}

#root > div > div > div > main > div > div > div > div > div > div > div:nth-child(n+4) > div > div > div > div > div > div > div > div > div:nth-child(n) > table > tbody > tr:nth-child(n) > th > div > div > span > svg {
    background-color: #FFFAFF !important;
    border-radius: 50% !important;
}

#root > div > div > div > main > div > div > div > div > div > div > div:nth-child(n+4) > div > div > div > div > div > div > div > div > div:nth-child(n) > table > tbody > tr:nth-child(n) > th > div > div > p > span > svg {
    background-color: #FFFAFF !important;
    border-radius: 50% !important;
} */

/* DIAGNOSTICS STUDENT DATA ETC BUTTONS */
#root>div>div>div>main>div>div>div>div>div>div>div>div>div>p:nth-child(n)>button>span {
    color: #8AB4F8;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>p:nth-child(n)>button>span:hover {
    color: #8AB4F8;
}

/* FIRST CARD 3rd COLUMN TEXT */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span>span {
    color: #FFFAFF;
}

/* 1st column text */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>th>div>div>p {
    color: white;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span {
    color: #FFFAFF;
}

/* FIRST CARD THIRD COLUMN LINKS */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span>span>p>button>span {
    color: #8AB4F8;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span>p>button>span {
    color: #8AB4F8;
}

/* BLOCKS INCLUDED IN THIS BLOCK LINKS */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div>div>div:nth-child(n)>p>button {
    color: #8AB4F8;
}

/* CATALOG YEAR/GPA */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div:nth-child(n)>span>span {
    color: #FFFAFF !important;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div:nth-child(n) {
    color: #FFFAFF;
}

/* TOP RIGHT SVG ICONS */
#root>div>div>div>main>div>div>div>div>button>span>svg,
#contact-icon>span>svg,
#print-icon>span>svg {
    fill: #FFFAFF;
}


/* CHECKBOX */
#root>div>div>div>main>div>div>div>div>div>div>div>div>div>label:nth-child(n)>span>span>input {
    background-color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>label:nth-child(n)>span>span>input:checked {
    background-color: #FFFAFF;
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>label:nth-child(n)>span>span>svg {
    color: #FFFAFF;
    fill: #FFFAFF;
}

/* CHECKBOX FOR WHAT-IF */
#WhatIfWorksheetMode>div>div>div>div>div>div>div>div>div>div>label:nth-child(n)>span>span>input {
    background-color: #FFFAFF;
}

#WhatIfWorksheetMode>div>div>div>div>div>div>div>div>div>div>label:nth-child(n)>span>span>input:checked {
    background-color: #FFFAFF;
    color: #FFFAFF;
}

[id^="exception"]>div>div>p {
    color: #FED57C;
}

[id^="exception"]>div>div:nth-child(n)>p {
    color: #FED57C;
}

[id^="exception"]>div>div:nth-child(n)>p>span:nth-child(n) {
    color: #FED57C;
}

[id^="exception"]>div>div:nth-child(n)>p>span>span>span {
    color: #FED57C;
}

[id^="exception"]>div>div>p>span>span {
    color: #FED57C;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(8)>div>div>div>div>div>div>div>div>div:nth-child(2)>table>tbody>tr:nth-child(4)>td

/* STILL NEEDED TEXT */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n) {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>th>div>p> {
    color: #FFFAFF;
}


#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>thead {
    color: white;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>thead>tr>th:nth-child(n)>span {
    color: #FFFAFF;
    font-weight: bold;
    /* border-bottom: solid 1px rgb(84, 84, 84); */
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>thead>tr>th:nth-child(n) {
    border-bottom: solid 1px rgb(84, 84, 84);
}


/* GRAD APP LINK */
#linkLink\ to\ Graduation\ Application\ and\ Information\  {
    color: #8AB4F8;
}

/* Course Link */
#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span>span:nth-child(n)>span>span:nth-child(n)>span:nth-child(n)>span>p>button>span>span>span {
    color: #8AB4F8;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span>span:nth-child(n)>span>span:nth-child(n)>span>span>span>svg {
    fill: #8AB4F8;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(4)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span>span:nth-child(n)>span>span:nth-child(n)>span:nth-child(n)>p>button>span {
    color: #8AB4F8;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>span>span>span:nth-child(n)>span>span:nth-child(n)>span:nth-child(n)>p>button>span>span>span>span {
    color: #8AB4F8;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>th>div>p>span {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>span>table>tbody>tr:nth-child(n)>td:nth-child(n)>p {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div>span>table>thead>tr>th:nth-child(n)>span {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div:nth-child(n)>span>span {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n+4)>div>div>div>div>div>div>div:nth-child(n)>span {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div>div>div>table>tbody>tr:nth-child(n)>td:nth-child(n)>p>span {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div>div>div>table>thead>tr>th:nth-child(n)>span {
    color: #FFFAFF;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div>div>div>table>tbody>tr:nth-child(n)>td:nth-child(n)>p {
    color: #FFFAFF;
}

/* EXCEPTIONS LINKS */
#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div>div>div>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>span>p>button {
    color: #8AB4F8;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div>div>div>table>tbody>tr:nth-child(n)>td:nth-child(n)>span {
    color: rgba(255, 255, 255, 0.515);
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-last-child(1)>div>div>div {
    background-color: none;
    background: none;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td:nth-child(n)>span>div>div>span {
    color: #FFFAFF;
}

svg[title~="Not"] {
    fill: #FF3333 !important;
    background-color: none !important;
    background: none !important;
}

svg[title~="Not"] {
    fill: #FF3333 !important;
}

svg[title~="minimums"] {
    fill: #dfc100 !important;
}

.ds-check-feedback {
    fill: #00b527 !important;
}

svg[title~="is complete"] {
    fill: #00b527 !important;
}

svg.ds-partial {
    fill: #8AB4F8 !important;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>th {
    border-bottom: 1px solid rgb(84, 84, 84);
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>div>div:nth-child(n)>table>tbody>tr:nth-child(n)>td {
    border-bottom: 1px solid rgb(84, 84, 84);
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>span>table>tbody>tr:nth-child(n)>td:nth-child(n) {
    border-bottom: 1px solid rgb(84, 84, 84);
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div:nth-child(n) {
    background-color: none !important;
}

#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(18)>div>div>div>div:nth-child(n)>div>div>p {
    background-color: none !important;
}

span[id*="_statusLabel"] {
    background-color: #FFFAFF;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div>div>div>table>tbody>tr:nth-child(n)>td:nth-child(n) {
    border-bottom: 1px solid rgb(84, 84, 84);
}


#root>div>div>div>main>div>div>div>div>div>div>div:nth-child(n)>div>div>div>div>div>div>div>span>table>thead>tr>th:nth-child(n) {
    border-bottom: 1px solid rgb(84, 84, 84);
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>div>div>div>div>div>table>thead>tr>th:nth-child(n) {
    border-bottom: 1px solid rgb(84, 84, 84);
}


#root>div>div>div>main>div>div>div>div>div>div>div:nth-last-child(1)>div>div {
    background-color: none !important;
    background: none !important;
}

#root>div>div>div>main>div>div>div>div>div>div>div>div>#auditHistory_value {
    background-color: #F8F8F8 !important;
    background: #F8F8F8 !important;
}

/* WHAT-IF */
#WhatIfWorksheetMode>div {
    background-color: #444444 !important;
    color: #FFFAFF !important;
}

#WhatIfWorksheetMode>div>div>div>h2>span {
    color: white;
}

#WhatIfGoals>div:nth-child(3)>div>div {
    background-color: #444444 !important;
    color: #FFFAFF !important;
}